@CHARSET "ISO-8859-1";

body {
	color:black;
}

.header {
	color: blue;
	border-bottom: 1px dashed blue;
	text-align: center;
}

.footer {
	color: blue;
	border-top: 1px dashed blue;
	text-align: center;
	width: 100%;
	padding:5px;
}

.content {
	padding: 10px;
	text-align: center;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

#itemlist {
	border-collapse: collapse;
}

#itemList td {
	border-bottom:solid silver 1px;
}